#process-title-caption{
	font-family:"MrEavesSanOTBook";
	font-size:20px;
	text-align:center;
	margin-top:-60px;
	letter-spacing:2px;
}
#process{
	width:100%;
	margin-top:-70px;
}
#btn_process{
	width:246px;
	height:83px;
	float:right;
	margin:10px 70px 20px 0;
}
